# System & Cache Files
.cache/
.DS_Store
Thumbs.db

# Virtual Environments (Python)
venv/
__pycache__/
*.pyc
*.pyo

#  Compiled Files (C, Object, Executables)
*.o
*.out
*.exe

#  Logs & Temporary Files
*.log
*.tmp

# Uploads Folder (if it contains temporary user files)
uploads/
users.json